.minolta h2{
     color: rgb(255, 255, 255);
     font-family: 'Raleway', sans-serif;
     margin-top: auto;
     margin-bottom:7px;
     text-align: center;
}

.pic p{
     color: rgb(255, 255, 255);
     font-family: 'Raleway', sans-serif;
     text-align: center;
     font-weight: bold;
     font-size:14.2px;
     margin: auto;
}

.fit1 img{width: 100%; height:auto;}
.fit2 img{width: 100%; height:auto;}
.fit3 img{width: 100%; height:auto;}
.fit4 img{width: 100%; height:auto;}
.fit5 img{width: 100%; height:auto;}
.fit6 img{width: 100%; height:auto;}
.fit7 img{width: 100%; height:auto;}
.fit8 img{width: 100%; height:auto;}
.fit9 img{width: 100%; height:auto;}
.fit10 img{width: 100%; height:auto;}
.fit11 img{width: 100%; height:auto;}
.fit12 img{width: 100%; height:auto;}
.fit13 img{width: 100%; height:auto;}
.fit14 img{width: 100%; height:auto;}
.fit15 img{width: 100%; height:auto;}
.fit16 img{width: 100%; height:auto;}
.fit17 img{width: 100%; height:auto;}
.fit18 img{width: 100%; height:auto;}
.fit19 img{width: 100%; height:auto;}
.fit20 img{width: 100%; height:auto;}
.fit21 img{width: 100%; height:auto;}
.fit22 img{width: 100%; height:auto;}
.fit23 img{width: 100%; height:auto;}
.fit24 img{width: 100%; height:auto;}
.fit25 img{width: 100%; height:auto;}
.fit26 img{width: 100%; height:auto;}
.fit27 img{width: 100%; height:auto;}
.fit28 img{width: 100%; height:auto;}
.fit29 img{width: 100%; height:auto;}
.fit30 img{width: 100%; height:auto;}
.fit31 img{width: 100%; height:auto;}

